* text=auto !eol
/CornerstoneRemoteControlClient.sln -text
CornerstoneRemoteControlClient/App.config -text
CornerstoneRemoteControlClient/App.xaml -text
CornerstoneRemoteControlClient/App.xaml.cs -text
CornerstoneRemoteControlClient/Communications/CommunicationEngine.cs -text
CornerstoneRemoteControlClient/Communications/ReceivedDataStateObject.cs -text
CornerstoneRemoteControlClient/Cornerstone.ico -text
CornerstoneRemoteControlClient/CornerstoneRemoteControlClient.csproj -text
CornerstoneRemoteControlClient/CornerstoneRemoteControlClient_TemporaryKey.pfx -text
CornerstoneRemoteControlClient/Events/ClientDisconnectedEvent.cs -text
CornerstoneRemoteControlClient/Events/EventAggregatorHelper.cs -text
CornerstoneRemoteControlClient/Events/MessageDataEvent.cs -text
CornerstoneRemoteControlClient/Events/SendDataEvent.cs -text
CornerstoneRemoteControlClient/FactoryModule.cs -text
CornerstoneRemoteControlClient/Helpers/InversionBooleanConverter.cs -text
CornerstoneRemoteControlClient/Helpers/NotBooleanToVisibilityConverter.cs -text
CornerstoneRemoteControlClient/Helpers/ObservableList.cs -text
CornerstoneRemoteControlClient/Helpers/RangeObservableCollection.cs -text
CornerstoneRemoteControlClient/Helpers/RelayCommand.cs -text
CornerstoneRemoteControlClient/Helpers/TimedLock.cs -text
CornerstoneRemoteControlClient/Properties/AssemblyInfo.cs -text
CornerstoneRemoteControlClient/Properties/Resources.Designer.cs -text
CornerstoneRemoteControlClient/Properties/Resources.resx -text
CornerstoneRemoteControlClient/Properties/Settings.Designer.cs -text
CornerstoneRemoteControlClient/Properties/Settings.settings -text
CornerstoneRemoteControlClient/Properties/app.manifest -text
CornerstoneRemoteControlClient/ViewModels/AddSamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/AddSetsCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/AttributeParameter.cs -text
CornerstoneRemoteControlClient/ViewModels/AttributeParameteredCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/BooleanAttributeParameter.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/AddSamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/AttributeParameteredCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/ModifySamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/ParameterlessCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/PauseSamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/RemoteCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/SetAndRepsCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/CommandViewModels/TransmitSetAndRepsCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/ConnectionDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/ConnectionViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/CommandDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/ConnectionDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/DataViewsViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/FreeFormDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/IntroDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/MessagesDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/RemoteControlDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/RemoteQueryDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewModels/RemoteSampleLoginDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DataViewsViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/DeletableParameter.cs -text
CornerstoneRemoteControlClient/ViewModels/ErrorCodes.cs -text
CornerstoneRemoteControlClient/ViewModels/FieldViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/IConnectionViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/IMessageProcessor.cs -text
CornerstoneRemoteControlClient/ViewModels/InstrumentInfoElement.cs -text
CornerstoneRemoteControlClient/ViewModels/IntroDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/LanguageElement.cs -text
CornerstoneRemoteControlClient/ViewModels/MainViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/MessagesDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/ModifySamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/ParameterlessCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/PauseSamplesCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/RemoteCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/RemoteControlDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/RemoteQueryDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/RemoteSampleLoginDataViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/SetAndRepsCommandViewModel.cs -text
CornerstoneRemoteControlClient/ViewModels/TrafficData.cs -text
CornerstoneRemoteControlClient/ViewModels/ViewModelBase.cs -text
CornerstoneRemoteControlClient/Views/AddSamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/AddSamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/AddSetsCommandView.xaml -text
CornerstoneRemoteControlClient/Views/AddSetsCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/AttributeParameterView.xaml -text
CornerstoneRemoteControlClient/Views/AttributeParameterView.xaml.cs -text
CornerstoneRemoteControlClient/Views/AttributeParameteredCommandView.xaml -text
CornerstoneRemoteControlClient/Views/AttributeParameteredCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/BooleanAttributeParameterView.xaml -text
CornerstoneRemoteControlClient/Views/BooleanAttributeParameterView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandNameView.xaml -text
CornerstoneRemoteControlClient/Views/CommandNameView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandSyntaxView.xaml -text
CornerstoneRemoteControlClient/Views/CommandSyntaxView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/AddSamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/AddSamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/AttributeParameteredCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/AttributeParameteredCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/ModifySamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/ModifySamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/ParameterlessCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/ParameterlessCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/PauseSamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/PauseSamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/SetAndRepsCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/SetAndRepsCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/CommandViews/TransmitSetAndRepCommandView.xaml -text
CornerstoneRemoteControlClient/Views/CommandViews/TransmitSetAndRepCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/ConnectionDataView.xaml -text
CornerstoneRemoteControlClient/Views/ConnectionDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/ConnectionView.xaml -text
CornerstoneRemoteControlClient/Views/ConnectionView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataViews/ConnectionDataView.xaml -text
CornerstoneRemoteControlClient/Views/DataViews/ConnectionDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataViews/FreeFormDataView.xaml -text
CornerstoneRemoteControlClient/Views/DataViews/FreeFormDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataViews/IntroDataView.xaml -text
CornerstoneRemoteControlClient/Views/DataViews/IntroDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataViews/MessagesDataView.xaml -text
CornerstoneRemoteControlClient/Views/DataViews/MessagesDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataViews/RemoteCommandDataView.xaml -text
CornerstoneRemoteControlClient/Views/DataViews/RemoteCommandDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DataWindow.xaml -text
CornerstoneRemoteControlClient/Views/DataWindow.xaml.cs -text
CornerstoneRemoteControlClient/Views/DeletableParameterView.xaml -text
CornerstoneRemoteControlClient/Views/DeletableParameterView.xaml.cs -text
CornerstoneRemoteControlClient/Views/DeletableParameterWithFieldsView.xaml -text
CornerstoneRemoteControlClient/Views/DeletableParameterWithFieldsView.xaml.cs -text
CornerstoneRemoteControlClient/Views/FieldView.xaml -text
CornerstoneRemoteControlClient/Views/FieldView.xaml.cs -text
CornerstoneRemoteControlClient/Views/IntroDataView.xaml -text
CornerstoneRemoteControlClient/Views/IntroDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/MainWindow.xaml -text
CornerstoneRemoteControlClient/Views/MainWindow.xaml.cs -text
CornerstoneRemoteControlClient/Views/MessagesDataView.xaml -text
CornerstoneRemoteControlClient/Views/MessagesDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/ModifySamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/ModifySamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/ParameterlessCommandView.xaml -text
CornerstoneRemoteControlClient/Views/ParameterlessCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/PauseSamplesCommandView.xaml -text
CornerstoneRemoteControlClient/Views/PauseSamplesCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/RemoteCommandDataView.xaml -text
CornerstoneRemoteControlClient/Views/RemoteCommandDataView.xaml.cs -text
CornerstoneRemoteControlClient/Views/ReplicateParameterView.xaml -text
CornerstoneRemoteControlClient/Views/ReplicateParameterView.xaml.cs -text
CornerstoneRemoteControlClient/Views/SetAndRepsCommandView.xaml -text
CornerstoneRemoteControlClient/Views/SetAndRepsCommandView.xaml.cs -text
CornerstoneRemoteControlClient/Views/TabLabelView.xaml -text
CornerstoneRemoteControlClient/Views/TabLabelView.xaml.cs -text
CornerstoneRemoteControlClient/Views/TransmitSetAndRepCommandView.xaml -text
CornerstoneRemoteControlClient/Views/TransmitSetAndRepCommandView.xaml.cs -text
CornerstoneRemoteControlClient/packages.config -text
packages/Autofac.3.1.1/Autofac.3.1.1.nupkg -text
packages/Autofac.3.1.1/Autofac.3.1.1.nuspec -text
packages/Autofac.3.1.1/lib/net40/Autofac.dll -text
packages/Autofac.3.1.1/lib/net40/Autofac.xml -text
packages/Autofac.3.1.1/lib/portable-win+net40+sl50+wp8/Autofac.dll -text
packages/Autofac.3.1.1/lib/portable-win+net40+sl50+wp8/Autofac.xml -text
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nupkg -text
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nuspec -text
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.XML -text
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.dll -text
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.pdb -text
packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.XML -text
packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.dll -text
packages/Prism.4.1.0.0/Prism.4.1.0.0.nupkg -text
packages/Prism.4.1.0.0/Prism.4.1.0.0.nuspec -text
packages/Prism.4.1.0.0/lib/NET40/Microsoft.Expression.Interactions.dll -text
packages/Prism.4.1.0.0/lib/NET40/Microsoft.Practices.Prism.Interactivity.dll -text
packages/Prism.4.1.0.0/lib/NET40/Microsoft.Practices.Prism.Interactivity.xml -text
packages/Prism.4.1.0.0/lib/NET40/Microsoft.Practices.Prism.dll -text
packages/Prism.4.1.0.0/lib/NET40/Microsoft.Practices.Prism.xml -text
packages/Prism.4.1.0.0/lib/NET40/System.Windows.Interactivity.dll -text
packages/Prism.4.1.0.0/lib/SL4/Microsoft.Expression.Interactions.dll -text
packages/Prism.4.1.0.0/lib/SL4/Microsoft.Practices.Prism.Interactivity.dll -text
packages/Prism.4.1.0.0/lib/SL4/Microsoft.Practices.Prism.Interactivity.xml -text
packages/Prism.4.1.0.0/lib/SL4/Microsoft.Practices.Prism.dll -text
packages/Prism.4.1.0.0/lib/SL4/Microsoft.Practices.Prism.xml -text
packages/Prism.4.1.0.0/lib/SL4/System.Windows.Interactivity.dll -text
packages/Prism.4.1.0.0/lib/SL5/Microsoft.Expression.Interactions.dll -text
packages/Prism.4.1.0.0/lib/SL5/Microsoft.Practices.Prism.Interactivity.dll -text
packages/Prism.4.1.0.0/lib/SL5/Microsoft.Practices.Prism.Interactivity.xml -text
packages/Prism.4.1.0.0/lib/SL5/Microsoft.Practices.Prism.dll -text
packages/Prism.4.1.0.0/lib/SL5/Microsoft.Practices.Prism.xml -text
packages/Prism.4.1.0.0/lib/SL5/System.Windows.Interactivity.dll -text
packages/repositories.config -text
