CornerstoneRemoteControlClient/bin/
CornerstoneRemoteControlClient/obj/
CornerstoneRemoteControlClient/publish/
CornerstoneRemoteControlClient/CornerstoneRemoteControlClient.csproj.user
CornerstoneRemoteControlClient/CornerstoneRemoteControlClient_TemporaryKey.pfx
